@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Bold.eot');
  src: url('../fonts/Asap-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Bold.woff2') format('woff2'),
  url('../fonts/Asap-Bold.woff') format('woff'),
  url('../fonts/Asap-Bold.ttf') format('truetype'),
  url('../fonts/Asap-Bold.svg#Asap-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Regular.eot');
  src: url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Regular.woff2') format('woff2'),
  url('../fonts/Asap-Regular.woff') format('woff'),
  url('../fonts/Asap-Regular.ttf') format('truetype'),
  url('../fonts/Asap-Regular.svg#Asap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Medium.eot');
  src: url('../fonts/Asap-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Asap-Medium.woff2') format('woff2'),
  url('../fonts/Asap-Medium.woff') format('woff'),
  url('../fonts/Asap-Medium.ttf') format('truetype'),
  url('../fonts/Asap-Medium.svg#Asap-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Regular.eot');
  src: url('../fonts/MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
  url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
  url('../fonts/MontserratAlternates-Regular.ttf') format('truetype'),
  url('../fonts/MontserratAlternates-Regular.svg#MontserratAlternates-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.eot');
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Light.woff2') format('woff2'),
  url('../fonts/Lato-Light.woff') format('woff'),
  url('../fonts/Lato-Light.ttf') format('truetype'),
  url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype'),
  url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


